version: '3'
services:
  nginx:
    build: ./nginx
    image: ${NGINX_IMAGE}
    user: root
    depends_on:
      - redis
      - mysql
    container_name: nginx-php
    ports:
      - ${NGINX_PORT}:80
    volumes:
      - ${NGINX_CONF_DIR}:/usr/local/nginx/conf
      - ${PHP_ETC_DIR}:/usr/local/php/etc 
      - ${WEB_HOME_DIR}:/home/wwwroot
    restart: unless-stopped

  redis:
    build: ./redis
    image: ${REDIS_IMAGE}
    user: root
    container_name: redis
    ports:
      - ${REDIS_PORT}:6379
    volumes:
      - ${REDIS_CONF_FILE}:/usr/local/etc/redis.conf
      - ${REDIS_DATA_DIR}:/data
    restart: unless-stopped

  mysql:
    image: ${MYSQL_IMAGE}
    user: root
    container_name: mysql
    ports:
      - ${MYSQL_PORT}:3306
    volumes:
      - ${REDIS_CONF_FILE}:/etc/mysql/conf.d/mysql.cnf
      - ${MYSQL_DATA_DIR}:/var/lib/mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      